body {
	font-family: sans-serif;
}

h1 {
	font-size: 80px;
	font-weight: lighter;
	text-align: center;
}

h2 {
	font-size: 40px;
	color: gray;
	font-weight: lighter;
	text-align: center;
}

#view {
	background-color: #d4755a;
	height: 50%;
	font-size: 30px;
	padding: 20px;
	border-radius: 30px;
	border: none;
	color: white;
	transition: color 0.25s, background-color 0.25s, border 0.25s;
}

#view:hover {
	cursor: pointer;
	color: #d4755a;
	background-color: white;
	border: 3px solid #d4755a;
}

#view-container {
	text-align: center;
}